
        #CenterheadingList{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            list-style-type: none;
            color: #fff;
            /* opacity: 0.5; */
            /* background-color: rgb(100, 223, 231); */


        }
        #CenterheadingList li{
        border: solid 1px black;
        border-radius: 2px;
        box-shadow: 1px 1px 2px;
        /* text-shadow: 1px 1px; */
        text-align: center;
        }
        body{
                    background-image: url('https://miro.medium.com/max/1838/1*6ReiBq9fWJOSjBDxFyRcyg.jpeg');

            background-repeat: no-repeat;
            background-size: cover;
        }

    /* #CenterHeading{
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    } */
    .sec{
        /* background-image: url('https://miro.medium.com/max/1838/1*6ReiBq9fWJOSjBDxFyRcyg.jpeg');
            background-repeat: no-repeat;
            background-size: cover; */
    }
    .center{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .center li{
        /* background-color: #0d6efd; */
        color: black;
    }
    li{
        width: 250px;
        text-align: center;
    }
    .sec{
        background-color: black;
        color: black;
    }
    @media only screen and (max-width:768px){
        li{
        width: 100%;
        text-align: center;
    }
        #CenterheadingList{
            display: none;
        }
        #centers ul{
            border: 2px solid #fff;
            display: flex;
            flex-direction: column;
            border-radius: 2px;
            box-shadow: 4px 3px 3px black;
        }
    }
